* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4c9173;
}

a:hover {
  text-decoration: underline;
  color: #028090;
  transition: all 200ms ease-in-out;
}

body {
  background: linear-gradient(-225deg, #9efbd3 0%, #57e9f2 48%, #45d4fb 100%);
  font-family: anton, sans-serif;
}

button {
  background-color: #028090;
  border: 1px solid #028090;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: #02c39a;
  cursor: pointer;
  display: block;
  font-family: Lucida Handwriting, cursive;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px;
  word-spacing: 2px;
}

button:hover {
  background-color: transparent;
  color: #028090;
  transition: all 200ms ease-in-out;
}

footer {
  text-align: center;
  font-family: monospace;
  margin: 0 auto;
  padding: 15px 0px;
}

h1 {
  color: #028090;
  font-family: Lucida Handwriting, cursive;
  font-size: 48px;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

h5 {
  background-color: #028090;
  border: 1px solid #028090;
  border-radius: 30px;
  color: #02c39a;
  font-family: Lucida Handwriting, cursive;
  margin: 0 20px;
  padding: 3px;
  text-align: center;
}

h5:hover {
  background-color: transparent;
  color: #028090;
  cursor: none;
  transition: all 200ms ease-in-out;
}

li {
  display: inline;
  padding: 0px 30px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.caption {
  border-radius: 30px;
  bottom: 16px;
  margin: 0 auto;
  padding: 0px 8px;
  position: absolute;
  right: 16px;
}

.caption:hover {
  background-color: #028090;
  cursor: none;
  opacity: 0.75;
}

.container {
  clear: both;
  content: "";
  display: table;
}

.content {
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  padding: 0 20px;
}

.font-change {
  font-family: Lucida Handwriting, cursive;
}

.item {
  color: #02c39a;
  float: left;
  font-family: Lucida Handwriting, cursive;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 33.33%;
}

.store {
  color: #028090;
  font-family: Lucida Handwriting, cursive;
  font-size: 25px;
}

.store:hover {
  color: #02c39a;
  transition: all 200ms ease-in-out;
}
